//Colors
$primaryColor: #b5afc9;
$secondaryColor: #151419;
$tertiaryColor: #222329;
$fontColor: #c2c2c2;

//Spacing
$spacing-xx-small: 0.25rem;
$spacing-x-small: 0.5rem;
$spacing-small: 0.75rem;
$spacing-medium: 1rem;
$spacing-large: 1.25rem;
$spacing-x-large: 1.5rem;
$spacing-xx-large: 1.75rem;
$spacing-3x-large: 2rem;
$spacing-4x-large: 2.5rem;
$spacing-5x-large: 3rem;

//Font Size
$mainText: 1rem;
$heading: 1.25rem;
