@use "variables" as v;

.button {
  padding: v.$spacing-xx-small v.$spacing-small;
  font-size: v.$mainText;
  border: none;
  border-radius: 8px;
  box-shadow: v.$shadow;
  color: v.$secondaryColor;
  width: fit-content;

  &-primary {
    background-color: v.$primaryColor;
  }

  &-secondary {
    background-color: v.$fontColor;
  }

  a {
    text-decoration: none;
    color: v.$secondaryColor;
  }
}
