@use "variables" as v;

.collectionsListContainer {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collectionsList {
  list-style: none;
  width: 100%;
  margin: 0 0 v.$spacing-large 0;

  li {
    display: flex;
    justify-content: space-between;
    gap: v.$spacing-3x-large;
    border-bottom: 2px solid v.$secondaryColor;
    padding: v.$spacing-3x-large 0 0 0;

    button {
      background-color: rgba(0, 0, 0, 0);
      color: v.$fontColor;
      box-shadow: none;
      transition: 0.3s;

      &:hover {
        background-color: transparent;
        scale: 1.5;
      }
    }

    a {
      flex-grow: 1;
      font-size: v.$heading;
      font-weight: 700;
      max-width: 70%;
      word-wrap: break-word;

      &:hover {
        color: v.$primaryColor;
      }
    }
  }
}

.addCollectionContainer {
  width: fit-content;
  margin: auto;
}
