@use "variables" as v;

.changeDateContainer {
  display: flex;
  gap: v.$spacing-small;

  button {
    background-color: rgba(0, 0, 0, 0);
    color: v.$fontColor;
    box-shadow: none;
  }
}

.test {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: v.$heading;
  }

  figure {
    height: 50vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  iframe {
    height: 100%;
    width: 100%;
  }
}

.imageButtonsContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 1rem;
  margin: v.$spacing-small 0 v.$spacing-medium 0;
}

.hideNextDateButton {
  visibility: hidden;
}
.showNextDateButton {
  visibility: visible;
}
