@use "./styles/variables" as v;
@use "./styles/button.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  background-color: v.$secondaryColor;
  color: v.$fontColor;
}

header {
  background-color: v.$secondaryColor;
  height: 90px;
  width: 100vw;
  position: fixed;
  top: 0;
}

main {
  margin-top: 90px;
  padding: v.$spacing-medium;
  background-color: v.$tertiaryColor;
  min-height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainInnerContainer {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-small;
  max-width: 1000px;
  width: 100%;
}

.noscroll {
  height: calc(100vh - 90px);
  overflow-y: hidden;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
